@media screen and (max-width: 900px) {
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    aside{
        margin-top: 25px;
    }

    h1, h2, p{
        font-size: medium;
    }

    input{
        width: 300px;
    }

    img{
        width: 150px;
    }   
}

@media screen and (max-width: 600px) {