* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    background-image: linear-gradient(-45deg, #5BD945, #339F21, #1B5511, #30343F, #2B2F3B, #1A1C23);
    font-family: poppinsregular;
}

.title-navbar{
    color: #339F21;
    text-decoration: none;
    font-size: 25px;
    transition: 0.5s;
}

.title-navbar:hover{
    color: #5BD945;
    text-shadow: 1px 5px 5px #1B5511;
}

a{
    transition: 0.5s;
}

main{
    display: grid;
    grid-template-columns: 6fr 6fr;
} 

aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aside-text{
    color: #e0e0e0;
}

#title_main{
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

h1, h2{
    font-size: 50px;
}

p{
    font-size: 20px;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 500px;
    width: 500px;
}

input{
    border-style: none;
}

.btn-success{
    max-width: 125px;
    text-align: center;
    padding: 15px 0 15px 0;
    border-radius: 20px;
}
 
article{
    display: flex;
    justify-self: center;
}
